$border: 1px solid #E1E3DF;
$font-size: 14px;
container {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}
header {
   padding: 10px 5px 10px 25px;
  // border: $border;

  .title {
    // margin-right: 500px;
  }

.title a{
  color: #F56400;
  font-family: 'Alegreya', serif;
  font-size: 42px;
  padding-left: 16px;
}

.title button {
  font-size: $font-size;
  padding: 7px 15px 9px 15px ;
  border: 1px solid #40B0DC;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #34A8C4;
  color: white;
  position: absolute;
  top: 25px;
  left: 396px;
}
.search {
  color: #C1C3BF;
  font-size: $font-size;
  padding-left: 10px;
  width: 255px;
  height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: $border;
  position: absolute;
  top: 25px;
  left: 137px;


}
.sideSelectors {
  position: absolute;
  top: 25px;
  right: 110px;
}
.sideSelectors a {
  font-size: $font-size;
  margin-right: 12px;
  color: #34A8C4;
}
.sideSelectors button {
  font-size: $font-size;
  background-color: white;
  color: #34A8C4;
  border: 1px solid #34A8C4;
  border-radius: 3px;
  padding: 7px 10px;
}
.cart{
border-left: $border;
width: 30px;
padding-left: 10px;
position: absolute;
top: -3px;
right:-66px;

  img {
    width: 22px;
  }
  span {
    font-size: 12px;
    color: #888886;
  }
  }
}
.greySelectors {
  text-align: center;
  border: $border;
  height: 44px;
  padding-left: 34px;
  display:flex;
  justify-content: left;

  a {
    color: #888886;
    font-size: $font-size;
    padding: 15px 15px 0 10px;
  }
}

  .maincontent {
    font-size: 13px;
    background-color: #F5F5F1;
  }

  .products{
    margin: 55px -80px 10px 5px;
    width: 900px;
    float: right;
    // position:absolute;
    // right: -63px;
    // top: 179px;
  }

  .imageArea {
    width: 250px;
    height: 250px;
    border: $border;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;

    img {
      width: 250px;
      border-bottom: $border;
    }
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    }
  .sidebar {
    width: 200px;
    border: $border;
    background-color: white;
    margin: 40px;
  }

  .sidebar ul{
    list-style: none;
    color: #34A8C4;
    // font-size: 13px;

     li {
      padding-bottom: 10px;
    }
  }

  .bottom {
    border: 1px solid red;
    clear: both;
    a {
      font-size: 13px;
      color: #34A8C4;
      margin-bottom: 5px;
    }
    .list {
      border: 1px solid red;
      width: 500px;
      height: 150px;

      .list1 {
        border: 1px solid red;
        width: 130px;
        float: left;
        // display: flex;
        // flex-direction: column;
      }
      .list2 {
        width: 130px;
        float: left;
        // display: flex;
        // flex-direction: column;
      }
      .list3 {
        width: 130px;
        float: left;
        // display: flex;
        // flex-direction: column;
      }

    }
    p {
      font-size: $font-size;
    }
    span{
      font-size: $font-size;}
  }
