container {
  width: 100%;
  position: relative;
  background-color: #F5F5F1; }

a {
  text-decoration: none; }

header {
  padding: 10px 5px 10px 25px; }
  header .title a {
    color: #F56400;
    font-family: 'Alegreya', serif;
    font-size: 42px;
    padding-left: 16px; }
  header .title button {
    font-size: 14px;
    padding: 7px 15px 9px 15px;
    border: 1px solid #40B0DC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #34A8C4;
    color: white;
    position: absolute;
    top: 25px;
    left: 396px; }
  header .search {
    color: #C1C3BF;
    font-size: 14px;
    padding-left: 10px;
    width: 255px;
    height: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #E1E3DF;
    position: absolute;
    top: 25px;
    left: 137px; }
  header .sideSelectors {
    position: absolute;
    top: 25px;
    right: 110px; }
  header .sideSelectors a {
    font-size: 14px;
    margin-right: 12px;
    color: #34A8C4; }
  header .sideSelectors button {
    font-size: 14px;
    background-color: white;
    color: #34A8C4;
    border: 1px solid #34A8C4;
    border-radius: 3px;
    padding: 7px 10px; }
  header .cart {
    border-left: 1px solid #E1E3DF;
    width: 30px;
    padding-left: 10px;
    position: absolute;
    top: -3px;
    right: -66px; }
    header .cart img {
      width: 22px; }
    header .cart span {
      font-size: 12px;
      color: #888886; }

.greySelectors {
  text-align: center;
  border: 1px solid #E1E3DF;
  height: 44px;
  padding-left: 34px;
  display: flex;
  justify-content: left; }
  .greySelectors a {
    color: #888886;
    font-size: 14px;
    padding: 15px 15px 0 10px; }

.maincontent {
  font-size: 13px;
  background-color: #F5F5F1; }
  .maincontent .products {
    margin: 55px -30px 10px 5px;
    width: 75%;
    float: right; }
  .maincontent .imageArea {
    width: 250px;
    height: 250px;
    border: 1px solid #E1E3DF;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: white; }
    .maincontent .imageArea img {
      width: 250px;
      border-bottom: 1px solid #E1E3DF; }
    .maincontent .imageArea h4 {
      font-weight: 100;
      padding-left: 5px;
      margin-top: 2px;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .maincontent .imageArea a {
      color: #C1C3BF;
      padding-left: 5px; }
    .maincontent .imageArea span {
      color: #78C042;
      float: right;
      margin-right: 5px; }
  .maincontent .main-left {
    height: auto;
    padding-bottom: 2000px; }
    .maincontent .main-left .sidebar {
      width: 22%;
      border: 1px solid #E1E3DF;
      background-color: white;
      margin: 40px; }
    .maincontent .main-left .sidebar ul {
      list-style: none;
      color: #34A8C4; }
      .maincontent .main-left .sidebar ul li {
        padding-bottom: 10px; }

.bottom {
  margin-top: 0;
  clear: both;
  background-color: #F5F5F1;
  padding-left: 345px; }
  .bottom a {
    font-size: 13px;
    color: #34A8C4;
    margin-bottom: 5px; }
  .bottom .list {
    width: 600px;
    height: 150px; }
    .bottom .list .list1 {
      width: 130px;
      float: left;
      padding-right: 100px; }
    .bottom .list .list2 {
      width: 130px;
      float: left;
      padding-right: 100px; }
    .bottom .list .list3 {
      width: 130px;
      float: left; }
  .bottom p {
    font-size: 14px; }
  .bottom span {
    font-size: 14px; }

/*# sourceMappingURL=main.css.map */
